.menu {
  width: 100%;
  height: 70px;
  background: #1976d2;
  position: relative;
  overflow: hidden;
}

.buttonSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menuItem {
  text-decoration: none;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 100% 25px;
}

.menuItem > div {
  content: " ";
  width: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  height: 2px;
  background: white;
  margin-top: 20px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.menuItem:hover {
  background: #1069c2;
}

.menuItem:hover div {
  width: calc(100% - 50px);
}

.inputForm {
  margin-top: 15px;
  width: 100%;
  max-width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.inputForm .amountInput,
.inputForm .typeInput,
.inputForm .outcomeTypeInput,
.inputForm .dataHandler {
  width: calc(50% - 20px);
  max-width: 430px;
  margin: 5px 10px;
}

@media (min-width: 1200px) {
  .inputForm {
    max-width: none;
  }
  .inputForm .amountInput,
  .inputForm .typeInput,
  .inputForm .outcomeTypeInput,
  .inputForm .dataHandler {
    max-width: none;
    width: calc(90% / 4);
  }
}

@media (min-width: 1200px) {
  .inputForm .addItemButton {
    margin-top: 15px;
  }
}

@media (max-width: 500px) {
  .inputForm .amountInput,
  .inputForm .typeInput,
  .inputForm .outcomeTypeInput,
  .inputForm .dataHandler {
    width: 95%;
    margin-top: 5px;
  }
  .inputForm .dataHandler {
    margin-bottom: 20px;
  }
}

@-webkit-keyframes focusAnimationOn {
  0% {
    opacity: 1;
    width: 0px;
    bottom: 0px;
  }
  99% {
    width: 100%;
    bottom: 0px;
  }
  100% {
    bottom: 1px;
    width: 100%;
  }
}

@keyframes focusAnimationOn {
  0% {
    opacity: 1;
    width: 0px;
    bottom: 0px;
  }
  99% {
    width: 100%;
    bottom: 0px;
  }
  100% {
    bottom: 1px;
    width: 100%;
  }
}

@-webkit-keyframes focusAnimationOff {
  0% {
    opacity: 1;
    width: 100%;
    bottom: 1px;
  }
  1% {
    opacity: 1;
    bottom: 0px;
    width: 100%;
  }
  99% {
    opacity: 1;
    bottom: 0px;
    width: 0%;
  }
  100% {
    bottom: 1px;
    width: 0%;
    opacity: 0;
  }
}

@keyframes focusAnimationOff {
  0% {
    opacity: 1;
    width: 100%;
    bottom: 1px;
  }
  1% {
    opacity: 1;
    bottom: 0px;
    width: 100%;
  }
  99% {
    opacity: 1;
    bottom: 0px;
    width: 0%;
  }
  100% {
    bottom: 1px;
    width: 0%;
    opacity: 0;
  }
}

.dataHandler {
  height: 56px;
  position: relative;
}

.react-datepicker-wrapper {
  position: inherit;
  height: 100%;
}

.react-datepicker-wrapper .react-datepicker__input-container {
  height: inherit;
  position: relative;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  height: inherit;
  padding-left: 4%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.react-datepicker-wrapper .react-datepicker__input-container input:focus {
  border: none;
  outline: 1px;
}

.react-datepicker-wrapper .react-datepicker__input-container::after,
.react-datepicker-wrapper .react-datepicker__input-container::before {
  content: " ";
  left: 0px;
  bottom: 1px;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #828282;
}

.react-datepicker-wrapper .react-datepicker__input-container::after {
  background-color: #1976d2;
  z-index: +10;
  opacity: 1;
  width: 0%;
  height: 1px;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: initial;
}

.react-datepicker-wrapper .react-datepicker__input-container::before {
  z-index: +10;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.react-datepicker-wrapper .react-datepicker__input-container:hover input {
  background-color: rgba(0, 0, 0, 0.115);
}

.react-datepicker-wrapper:hover .react-datepicker__input-container::before {
  background-color: black;
}

.dataHandler[data-focused="true"] .react-datepicker-wrapper .react-datepicker__input-container::after {
  -webkit-animation-name: focusAnimationOn;
          animation-name: focusAnimationOn;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dataHandler[data-focused="false"] .react-datepicker-wrapper .react-datepicker__input-container::after {
  -webkit-animation-name: focusAnimationOff;
          animation-name: focusAnimationOff;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.react-datepicker-popper {
  z-index: 50;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
}
/*# sourceMappingURL=index.css.map */